header{
    background-color: #5d0785;
    color: white;
}
body{
    background-color: antiquewhite;
}

@media only screen and (max-width: 1000px) {
    .wrapper .content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .wrapper .content .image{
        margin-bottom: 15px;
    }

  }
.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.wrapper .content{
    max-width: 960px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.wrapper .content .image{
    flex:1 1 auto;
    max-width: max-content;
    
}
.wrapper .content .image > img{
    border: 1px solid red;
    background-color: seashell;
    border-radius: 4px;
}
.wrapper .content .image > p{
    background-color: seashell;
}

.wrapper .content .work{
    flex:2 1 auto;
    font-family: 'Sansita Swashed', cursive;
    background-color: seashell;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
}

h3{
    font-style: italic;
}
